#### 함수 vs 메소드 
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.
    - 예: print(), len(), max()
- 메소드 (Method)
    - 메소드는 객체에 속한 함수즉, 메소드는 특정 객체의 속성이거나 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [7]:
def my_function():
    print("Hello from a function")
    
my_function()  # 함수 호출

Hello from a function

In [10]:
class MyClass:
    def my_method(self):
        print("Hello from a method")
        
obj = MyClass()
obj.my_method()  # 메소드 호출

Hello from a method

In [11]:
# 메소드 사례
my_list = [1, 2, 3, 4, 5]

my_list.append(6)   # 리스트 요소 추가
my_list

[1, 2, 3, 4, 5, 6]

In [2]:
my_string = "hello"

upper_string = my_string.upper()  # 문자열을 대문자로 변환

print(upper_string)

HELLO

In [4]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

value = my_dict.get('key2')

print(value)

value2

In [5]:
my_set = {1, 2, 3}

my_set.add(4)  # 집합에 요소 추가

print(my_set)

{1, 2, 3, 4}

In [6]:
my_list = [1, 2, 3, 4, 5]

index = my_list.index(3)   # 리스트의 값이 3인 것의 인덱스값을 반환
print(index)

2

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다. 
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [1]:
# 내장 함수 예제
print("Hello, World!")  # 출력 함수
print(len([1,2,3,4]))  # 길이 계산 함수
print(type(10))  # 타입 확인 함수

Hello, World!
4
<class 'int'>

In [18]:
# 외장 함수 예제
import math  # 수학 모듈 임포트
print(math.sqrt(16))  # 제곱근 계산 함수

import random  # 랜덤 모듈 임포트
print(random.randint(1,10))  # 랜덤 정수 생성 함수. 양끝 포함.

import datetime  # 날짜와 시간 모듈 임포트
print(datetime.datetime.now())

4.0
3
2023-10-31 15:16:10.239190

In [7]:
# 참고 : 날짜 계산하기

import datetime

today = datetime.datetime.now()

eYear = "2023-12-31"
eYear_dType = datetime.datetime.strptime(eYear, '%Y-%m-%d') 
print(eYear_dType)

calDate = eYear_dType - today
print(calDate)

print(calDate.days)

2023-12-31 00:00:00
60 days, 6:00:50.370770
60

In [20]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 requests 라이브러리를 설치합니다.
# !pip install pandas

import pandas as pd

# pandas의 DataFrame 객체 생성
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# pandas의 head() 함수 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
# head() 괄호 안에 숫자 입력시 입력된 숫자 만큼 출력
print(df)
print()
print(df.head(2))

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

    Name  Age
0  Alice   25
1    Bob   30

In [6]:
# pandas 사용 예시
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

titanic.head(10)

# 해당 데이터로 인자별 생존에 미치는 확률 분석

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [26]:
# 사용자 함수 예제
def greet(name):
    return f'Hello, {name}!'

print(greet("Alice"))

Hello, Alice!

### 람다 함수

In [28]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [29]:
# 조건 사용
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4))
print(is_even(5))

True
False

In [31]:
# map() 함수와 함께 사용
numbers = [1,2,3,4,5]
squared_numbers = map(lambda x: x * x, numbers)  # 인자별 계산값을 맵핑
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [4]:
# filter() 함수와 함꼐 사용
numbers = [1,2,3,4,5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)  # True 값만 반영
print(list(even_numbers))

[2, 4]

In [2]:
# sorted() 함수와 함꼐 사용
s1 = ['Alice', 'Bob', 'Charlie']
s2 = [90, 85, 88]
students = list(zip(s1,s2))
sorted_students = sorted(students, key=lambda x: x[1])
# sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print(sorted_students)

[('Bob', 85), ('Charlie', 88), ('Alice', 90)]

### 사용자 함수

In [6]:
def add_number(n1, n2):
    ret = n1 + n2
    return ret

# output값이 없는 형태
def add_txt(t1, t2):
    print(t1 + t2)
    
ans1 = add_number(10, 15)
print(ans1)
ans2 = add_number(20, 25)
print(ans2)
text1 = '대한민국~'
text2 = '만세!!'
add_txt(text1, text2)

25
45
대한민국~만세!!

In [16]:
# 함수 인자 : 기본적으로 인자 순서에 대응되는 값을 함수코드에 대입
def add_txt(t1, t2='파이썬'):  # t2 기본값을 대입한 기본 인자는 마지막에 위치해야 함.
    print(t1+' : '+t2)

add_txt('베스트')
add_txt(t2='대한민국',t1= '1등')

def func1(*args):  # 인자의 개수가 불명확한 경우. args는 함수 내부에서 튜플로 처리
    print(args)

def func2(width, height, **kwargs):  # 키워드 인자가 불명확한 경우. **kwargs는 함수 내부에서 사전으로 처리
    print(kwargs)

# 사용 예시
func1()
func1(3,5,8,12)
func2(10,20)
func2(10,20, depth=50, color='blue')

베스트 : 파이썬
1등 : 대한민국
()
(3, 5, 8, 12)
{}
{'depth': 50, 'color': 'blue'}

In [2]:
# Q. 1~10까지 가변적으로 연산을 할 수 있는 사용자 함수를 작성

def all_add(*args):
    result = 0
    for i in args:
        result += i
    print(result)

all_add(4,22,59)
test_args = 11, 44, 100
all_add(*test_args)

85
155

In [33]:
# Q. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요
# 출력:
# Width: 100
# Height: 200
# Other arguments: {'color': 'red', 'thickness': 5}

def func2(width, height, **kwargs):
    text2=f'''Width: {width}
Height: {height}
Other arguments: {kwargs}'''
    print(text2)

func2(100,200, color='red', thickness=5)

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5}

### 기타 예시

In [17]:
list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

# 리스트 안에서 for 문 사용하기 2: if 문 사용 
list = [ num * 3 for num in list if num % 2 == 1 ]
print(list)

[3, 9, 15, 21, 27]

### 인자와 리턴값 여부에 따른 함수 유형

In [34]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [37]:
# 입력값이 없고 결과값도 없는 함수
def say():
    print('HI')

a = say()
print(a)

HI
None

In [35]:
# 입력값이 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a, b, a+b))

a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [36]:
# 입력값이 있고 결과값이 있는 함수1
def add(a,b):
    return a+b

a = add(3,4)
print(a)

7

In [41]:
# 입력값이 있고 결과값이 있는 함수2
def max(a,b,c):
    if a > b:
        if a > c:
            return a
        else: 
            return c
    if a < b:
        if b > c:
            return b
        else:
            return c
        
print(f'가장 큰 수는 {max(20, 10, 30)}입니다.')

가장 큰 수는 30입니다.

In [45]:
# 수식 기호를 받아서 연산하는 메소드
def math(x, y, z):
    text = str(x)+z+str(y)
    return eval(text)

print(math(10,2,'//'))

5

In [1]:
def com(a,b):
    if a > b:
        return f'{a} bigger than {b}'
    elif a < b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'

com(3,3)

'3 equal 3'

In [2]:
# 함수의 반환 값은 언제나 하나임
# 쉼표로 여러개 만들경우 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력값으로 적용한 덧샘, 곱샘 연산을 수행하세요

In [7]:
import math

def add_mul(choice, *args):
    mul_list = args
    if choice == '+':
        return sum(mul_list)
    elif choice == '*':
        return math.prod(mul_list)
    else:
        print('수행할 수 없는 연산입니다')

print(add_mul('+',1,2,3,4,5))
print(add_mul('*',1,2,3,4,5))

15
120

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고 
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [10]:
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
func1()
print(strdata)

지역변수
전역변수

In [16]:
param = 10
def func2(param):
    param = 1

func2(param)  # 전역변수를 함수 안에서 사용
print(param)

10

In [13]:
param = 10
def func3():
    global param
    param = 50

func3()
print(param)

50

In [18]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1 
def vartest(a):
    a = a + 1
    
print(vartest(a))
print(a)

None
1

In [19]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용
a = 1 
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [20]:
# global 명령을 이용하는 방법
a = 1 
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

#### 함수 리턴값 : return
- 함수는 한 개 이상의 값을 리턴할 수 있으며 리턴값이 없을 수도 있다.
- 리턴 값이 여러 개인 경우에는 튜플로 리턴값을 만들어 리턴

In [22]:
def reverse(x, y, z):
    return z, y, x

ret = reverse(1, 2, 3)
print(ret)

r1, r2, r3 = reverse('a', 'b', 'c')
print(r1)
print(r2)
print(r3)  # 튜플의 요소 개수만큼 나누어서 리턴값을 개별적으로 받을 수 있음

(3, 2, 1)
c
b
a

### 파일 입출력

In [32]:
# 경로 확인
%pwd

'D:\\kdt_jyk\\workspace\\m1_programming\\ex'

In [30]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_jyk\workspace\m1_programming 디렉터리

2023-11-01  오후 02:25    <DIR>          .
2023-11-01  오후 02:25    <DIR>          ..
2023-11-01  오전 11:38    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:24    <DIR>          ex
2023-10-30  오전 10:25            47,243 python_1_자료형.ipynb
2023-10-31  오후 02:44            21,703 python_2_제어문.ipynb
2023-11-01  오후 02:25            38,339 python_3_함수.ipynb
2023-10-27  오후 05:51            15,698 과제_20231027.ipynb
2023-10-30  오전 08:36            16,905 과제_20231028.ipynb
2023-11-01  오전 09:41            37,376 과제_20231030.ipynb
2023-11-01  오전 10:15            27,734 과제_20231031.ipynb
2023-11-01  오후 02:10             5,344 과제_20231101.ipynb
               8개 파일             210,342 바이트
               4개 디렉터리  465,991,700,480 바이트 남음

In [40]:
# 작업 폴더 확인2
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_jyk\workspace\m1_programming 디렉터리

2023-11-01  오후 02:28    <DIR>          .
2023-11-01  오후 02:28    <DIR>          ..
2023-11-01  오전 11:38    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:24    <DIR>          ex
2023-10-30  오전 10:25            47,243 python_1_자료형.ipynb
2023-10-31  오후 02:44            21,703 python_2_제어문.ipynb
2023-11-01  오후 02:27            39,243 python_3_함수.ipynb
2023-11-01  오후 02:28                 0 text1.txt
2023-10-27  오후 05:51            15,698 과제_20231027.ipynb
2023-10-30  오전 08:36            16,905 과제_20231028.ipynb
2023-11-01  오전 09:41            37,376 과제_20231030.ipynb
2023-11-01  오전 10:15            27,734 과제_20231031.ipynb
2023-11-01  오후 02:10             5,344 과제_20231101.ipynb
               9개 파일             211,246 바이트
               4개 디렉터리  465,991,700,480 바이트 남음

In [26]:
# 파일 만들기
!echo. > test.txt

In [27]:
# 파일 삭제
!del test.txt

In [37]:
# 폴더 경로 이동
import os
os.chdir('D:\kdt_jyk\workspace\m1_programming\ex')

In [38]:
%pwd

'D:\\kdt_jyk\\workspace\\m1_programming'

In [53]:
# 파일 읽고 쓰기 _ 없으면 파일 만듦
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [54]:
# 파일 읽기
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [55]:
# 파일 읽기
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [56]:
f = open('test1.txt','r')
for i in range(10):
    line = f.readline()
    if i == 4:
        print(line)
f.close()

5번째 줄입니다.

In [57]:
f = open('test1.txt','r')
line = f.readlines()[4]
print(line)
f.close()

5번째 줄입니다.

In [58]:
f = open('test1.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [59]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [60]:
# 데이터 추가하기 add 모드
f = open('test1.txt','a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

#### close 없이 파일 읽고 쓰기 -> with문 사용

In [61]:
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁니다')

In [62]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁니다

In [63]:
with open('test2.txt','w') as f:
    for i in range(1,11):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [64]:
with open('test2.txt','a') as f:
    for i in range(11,16):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [68]:
with open('test2.txt','r') as f:
    s2 = f.readlines()
    print(s2)
    print(s2[3])

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n']
4번째 줄입니다.

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈 
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

In [69]:
# time 모듈
import time

print('5초간 프로그램을 정지합니다')
time.sleep(5)
print('5초가 지났습니다')

5초간 프로그램을 정지합니다
5초가 지났습니다

In [70]:
# 사용자 작성 모듈
with open('mymodule.py', 'w') as f:
    f.write(
'''
def add_txt(t1, t2):
    return t1 + ':' + t2
def reverse(x, y, z):
    return z, y, x
''')

In [71]:
with open('mymodule.py', 'r') as f:
    data = f.read()
    print(data)

def add_txt(t1, t2):
    return t1 + ':' + t2
def reverse(x, y, z):
    return z, y, x

In [73]:
import mymodule

ret1 = mymodule.add_txt('대한민국', '1등')
print(ret1)
ret2 = mymodule.reverse(1,2,3)
print(ret2)

대한민국:1등
(3, 2, 1)

In [74]:
# 클래스
class MyClass:
    var = '안녕하세요'
    def sayHello(self):
        print(self.var+' == 메소드 실행 확인')

obj = MyClass()
print(obj.var)
obj.sayHello()

안녕하세요
안녕하세요 == 메소드 실행 확인

In [79]:
# 외부 라이브러리
import pandas as pd

df1 = pd.DataFrame({'a':[1,2,3], 'b':[4,None,6], 'c':[7,8,9]})
df1

   a    b  c
0  1  4.0  7
1  2  NaN  8
2  3  6.0  9

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       2 non-null      float64
 2   c       3 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [82]:
import numpy as np
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns = ['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [83]:
data3 = np.array([(1,2,3),(4,5,6),(7,8,9)])
df3 = pd.DataFrame(data3, columns = ['a', 'b', 'c'])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [84]:
df3.keys

<bound method NDFrame.keys of    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9>

In [86]:
# 통계값
df3.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

### 내장함수, 외장함수

https://codedrive.tistory.com/91

In [91]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0]))  # 모두 참이면 True, 거짓 하나라도 있으면 False
print(any([1,2,3,0]))  # 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))  # 아스키코드

3
False
True
A

In [93]:
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,3))  # 거듭제곱
print(round(2.678))  # 반올림
print(round(2.678, 1))

3.0
3
10
1
1000
3
2.7

In [94]:
li = [1,2,3]
sum(li)

6

In [95]:
my_list = [1,2,3,4,5]
print(len(my_list))

5

In [96]:
age = 30
print("I am "+str(age)+" years old.")

I am 30 years old.

In [97]:
my_tuple = (1,2,3)
print(list(my_tuple))

[1, 2, 3]

In [98]:
my_list = [3,1,4,2]
print(sorted(my_list))

[1, 2, 3, 4]

In [99]:
my_string = "Python"
print(type(my_string))

<class 'str'>

In [101]:
for idx, element in enumerate(['ele1','ele2','ele3']):
    print(idx+1, element)

1 ele1
2 ele2
3 ele3

In [102]:
print(range(10))
print(list(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
# 몫과 나머지
print(divmod(7,3))

(2, 1)

In [1]:
myList = [lambda a,b: a+b, lambda a,b: a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [ ]:
# Q. lambda를 리스트 형태로 작성하여 4칙연산을 해보세요.

In [3]:
myList = [lambda a,b: a+b, lambda a,b: a-b, lambda a,b: a*b, lambda a,b: a/b]

for i in range(len(myList)):
    print(myList[i](3,4))

7
-1
12
0.75

In [8]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0,-10,-2)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[]
[0, -2, -4, -6, -8]

In [ ]:
# enumerate
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 객체를 리턴

In [4]:
# 외장함수 : 전 세계 파이썬 이용자들이 만든 유용한 프로그램을 모아놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있는 기능

# 바이너리: 용량이 작고 처리속도가 빠르다.

import pickle
f = open('test3.txt', 'wb')  # wb : 바이너리 모드로 쓰기.
data = {1:'python', 2:'you need'}
pickle.dump(data, f)
f.close()

In [3]:
import pickle
f = open('test3.txt', 'rb')  # wb : 바이너리 모드로 읽기.
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [5]:
%pwd

'D:\\kdt_jyk\\workspace\\m1_programming'

In [6]:
import os
os.chdir('D:\\kdt_jyk\\workspace\\m1_programming\\ex')

In [9]:
os.getcwd()

'D:\\kdt_jyk\\workspace\\m1_programming'

In [8]:
os.chdir('D:\\kdt_jyk\\workspace\\m1_programming')

In [13]:
# os.rename('test1.txt','test_new.txt')
os.rename('test_new.txt','test1.txt')

In [14]:
import glob
glob.glob('D:\\kdt_jyk\\workspace\\m1_programming/*.txt')

['D:\\kdt_jyk\\workspace\\m1_programming\\foo.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\mydata.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\sample_5_1101.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test1.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test2.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test3.txt']

In [16]:
glob.glob('D:\\kdt_jyk\\workspace\\m1_programming/*')

['D:\\kdt_jyk\\workspace\\m1_programming\\ex',
 'D:\\kdt_jyk\\workspace\\m1_programming\\foo.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\mydata.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\mymodule.py',
 'D:\\kdt_jyk\\workspace\\m1_programming\\python_1_자료형.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\python_2_제어문.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\python_3_함수.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\sample_5_1101.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test1.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test2.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\test3.txt',
 'D:\\kdt_jyk\\workspace\\m1_programming\\__pycache__',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231027.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231028.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231030.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231031.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231101.ipynb',
 'D:\\kdt_jyk\\workspace\\m1_programming\\과제_20231102.ipynb']

In [18]:
import numpy as np

np.arange(200,301)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300])

In [3]:
def sum_cal(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

sum_test = sum_cal(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

print(sum_test)

# 테스트 결과 : 내장함수명에 사용자함수를 덮어쓰면 내장함수 작동 안함.

25250

In [2]:
print(sum([1,2,3,4,5]))

15

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [1]:
# string을 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x: len(set(x)))  # 세트의 길이 기준으로 정렬
strings[::-1]  # 역순으로 정렬

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [2]:
# Q. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list = sorted(strings, key = lambda x: len(set(x)), reverse=True)  # 세트의 길이 기준으로 정렬
s_list  # 역순으로 정렬

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [3]:
# url에서 호스트 도메인을 추출하여 출력하세요.

url_text = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
x = url_text.split('/')
x[2]

'news.naver.com'

In [5]:
# 문자열이 문자인지 검사
txt1 = 'A'
txt2 = 'Hello'
txt3 = 'Warcraft Go'
txt4 = '3POdsf'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)  # 공백 있어서 False
print(ret4)  # 숫자 있어서 False

True
True
False
False

In [4]:
# 문자열이 숫자인지 검사
txt1 = '010-4289-1352'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()

print(ret1)  # 기호 있어서 False
print(ret2)  # 문자 있어서 False
print(ret3)

False
False
True

In [10]:
# 문자열이 문자 또는 숫자인지 검사
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3POR2D2'

ret1 = txt1.isalnum()  
ret2 = txt2.isalnum()  
ret3 = txt3.isalnum()  

print(ret1)  # 기호 있어서 False
print(ret2)  # 공백,점 등등 있어서 False (공백, 점, 기호 등등)
print(ret3)

False
False
True

In [12]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()   # 모두 대문자
ret2 = txt.lower()   # 모두 소문자
ret3 = txt.title()   # 첫 글자만 대문자
ret4 = txt.capitalize() # 문자열의 첫 번째 문자만 대문자
print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.
A Lot Of Things Occur Each Day.
A lot of things occur each day.