#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [7]:
# 식별자 : 변수와 함수
my_variable = 10 # 변수 식별자
def my_function(): # 함수 식별자
    pass

In [8]:
# 키워드 변수나 함수명 사용불가
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [10]:
!python -V
!python --version

Python 3.10.13
Python 3.10.13

In [11]:
# 현재 작업폴더 확인
%pwd

'D:\\kdt_jyk\\workspace\\m1_programming'

In [17]:
# 표현식
35
10+11

# 문장
print("Hello")

# 프로그램
for i in range(10):
    print(i)

Hello
0
1
2
3
4
5
6
7
8
9

In [20]:
# 하나의 문장
word = "python"
a = 100 + 200

# 블록을 이루는 하나의 문장
if a < 500:
    print(word)

# 문장은 하나 이상의 표현식이 모인 것으로 프로그래밍에서는 실행 가능한 최소의 독립적인 코드 조각
# 파이썬 코드의 한 줄 또는 블록으로 된 것들을 하나의 문장이라고 할 수 있음

python

식별자 기본규칙
- 키워드를 사용하면 안된다
- 특수문자는 언더바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함할 수 없다

In [ ]:
alpha 
break #키워드
alpha10
_alpha
273alpha #숫자
AlpHa
ALPHA
has spase #공백

파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist : item_list itemList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [34]:
a = 5
b = 3
c = b % a
d = b // a
e = b / a
f = round(1.2345, 2)

def add(x, y):
    return x+y

print(add(a,b))
print(c)
print(d)
print(e)
print(f)

8
3
0
0.6
1.23

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [1]:
# 정수형, 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [81]:
# 정수 (int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

1
0
100
3

In [83]:
# 실수 (float)
print(float(True))
print(float(False))
print(float(100))
print(float(3.14))

1.0
0.0
100.0
3.14

In [4]:
# 사칙연산 : +, *, /, //, %, **(제곱)
a = 10
b = 2.3
c = 3

print(a+b)
print(a*b)
print(b/a)
print(a//c)
print(a%c)
print(b**c)

12.3
23.0
0.22999999999999998
3
1
12.166999999999998

In [6]:
# 문자열
string = '문자열'
a = 100
print(string+str(a))

문자열100

In [9]:
a = 100
b = 50
print(a+b)
print(str(a)+str(b))

150
10050

In [10]:
# 사용자 입력
a = input('이름을 입력하세요 : ')
print(str(a)+'님 반갑습니다')

이름을 입력하세요주용규
주용규님 반갑습니단

In [16]:
# 두 개의 정수를 입력해서 더한 결과를 출력하세요
a = int(input('첫 번째 정수를 입력하세요 : '))
b = int(input('두 번째 정수를 입력하세요 : '))
print(a+b)

첫 번째 정수를 입력하세요 : 2
두 번째 정수를 입력하세요 : 8
10

In [17]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
a = int(input('3을 입력하세요 : '))
b = float(input('3.3을 입력하세요 : '))
print(a+b)

3을 입력하세요 : 3
3.3을 입력하세요 : 3.3
6.3

In [18]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

5252.273

In [26]:
# 문자열 : " ", ' ', """ """, ''' ''' (트리플)
# 사용 예시
p1 = '''python's value is great'''
print(p1)
p2 = "python's value is great"
print(p2)
# 이스케이프 처리 (역슬레시 \)
p3 = 'python\'s value is great'
print(p3)

python's value is great
python's value is great
python's value is great

In [24]:
# \n 은 행바꿈 처리
y1 = "Once you study data analysis \nYou need python"
print(y1)

Once you study data analysis
You need python

In [28]:
# 트리플 내의 행바뀜은 자동처리됨
y2 = """Once you study data analysis
You need python"""
print(y2)

Once you study data analysis
You need python

In [32]:
a1 = 'Python'
a2 = 'is easy to learn'
print(a1+a2)
print("="*25)

Pythonis easy to learn
=========================

과제1. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요.

In [78]:
x1 = input('숫자 1 입력: ')
x2 = input('숫자 2 입력: ')
ans = ''

if x1 > x2 : 
    ans = x1
elif x2 > x1 :
    ans = x2
else :
    ans = "큰 수가 없다."

print(ans)

숫자 1 입력: 7
숫자 2 입력: 7
큰 수가 없다.

과제2. 아래와 같이 출력할 수 있는 string을 만드세요.
string = 
print(string)
[출력문]
"What a wonderful world!"
he said loudly

In [34]:
string='''"What a wonderful world!"
he said loudly'''
print(string)

"What a wonderful world!"
he said loudly

In [35]:
# 자료형 - List
# 리스트는 []로 표시하면 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [44]:
# 인덱싱
list1 = [1,2,3,4,5]
print(list1[2])
print(list1[0:2])
print(list1[:4])

3
[1, 2]
[1, 2, 3, 4]

In [39]:
list1 = list(range(50,101,1))
print(list1)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [47]:
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
print(list3[3][2])
print(list3[4][1])

3
b

In [57]:
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)

del a[0]
print(a)

a.remove(4)
print(a)

del b[1]
print(b)

print(a[-4:])

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 6, 7, 8, 9]
['a', 'c']
[6, 7, 8, 9]

In [69]:
# 리스트 확장
h = [1, 2, 3]
h.extend([4,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)
print(h)

# 뒷자리 추가 방법 4가지
#1
h = h + [7]
print(h)
#2
h.insert(8,8)
print(h)
#3
h.extend([9])
print(h)
#4
h.append(10)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]
[5, 1, 2, 3, 4, 5, 6, 7, 8]
[5, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[과제3] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

[과제4] 아래 list를 sort, sorted를 이용해서 오름차순, 내림차순으로 각각 출력하세요.

list = [5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 3, 5, 7, 9, 11, 13, 15, 17]

In [ ]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야 되는 경우 사용

In [84]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5], ['a','b','c'])

print(tuple3[3][2])

3

In [85]:
tuple01 = (1,2,3,4,5)
tuple01[2] = 7
# 튜플 값은 변경이 불가능하여 에러 발생.

TypeError: 'tuple' object does not support item assignment

In [91]:
t1 = (1,) # 1개의 요소를 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)

t1_ex = (1) 
print(t1_ex)
print(type(t1_ex)) # 콤마값을 사용안 할 경우 int 값으로 저장됨.

t2 = 1,2,3 #괄호 사용 안할 경우 기본값 튜플
print(t2)
print(t2 * 3)
print(t1 + t2)

(1,)
1
<class 'int'>
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)

In [ ]:
# 자료형 - 사전 (키와 값을 하나의 요소로 하는 순서가 없는 집합)

In [32]:
d0055 = {}
d0055['a'] = 22
print(d0055)

{'a': 22}

In [100]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['c'])
print(d1.keys())
print(d1.values())
print(d1.items())

3
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [101]:
d1['d'] = 4
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [102]:
d1['b'] = 7
print(d1)

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [118]:
d5 = {'a': 1, 'b': 7, 'c': '3', 'd': 4}
# 값이 7인 경우의 key 출력 (딕셔너리 뒤집기)
d5_re = {v:k for k,v in d5.items()}
print(d5_re)
print(d5_re.get(7))

{1: 'a', 7: 'b', '3': 'c', 4: 'd'}
b

In [29]:
# 과제 힌트. 사용할 메서드
# 문자열 갯수 샌 뒤 키: 값으로 딕셔너리 생성.
str1 = "Hello World"
str_count1 = str1.count('o')  # 주어진 문자열에서 "o" 문자 세기
print("The count of 'o' is", str_count1)

The count of 'o' is 2

In [36]:
#  테스트
str2 = "Hello World ello ello ello"
str_count2 = str2.count('ello')  # 주어진 문자열에서 "o" 문자 세기
print("The count of 'ello' is", str_count2)

The count of 'ello' is 4

In [ ]:
# 자료형 - 집합, set (중복을 허용하지 않으며 순서가 없다.)

In [2]:
s1 = set([1,2,3,4,5])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'o', 'e', 'H', 'l'}

In [3]:
li = list(s1)
print(li[1])

li2 = list(s2)
print(li2[2])

2
H

In [4]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [11]:
# 자료형 - 논리 (Bool)
print(bool(0))
print(bool(''))
print(str(bool('sss'))+" = 값이 있으면 트루")
print(bool([]))
print(str(bool([1,2,3]))+" = 값이 있으면 트루")
print(bool(1))
print(bool(100))

False
False
True = 값이 있으면 트루
False
True = 값이 있으면 트루
True
True

In [28]:
# 관계 연산자
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)
print('th' in str2)
print(str2.find('z') > 0)

False
True
False
True
True
True
False

In [23]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [33]:
li = ['a', 'b', 'c']

if 'a' in li:
    print('a가 있습니다')
else:
    print('a가 없습니다')

a가 있습니다

In [37]:
# 내장 함수 (예시)
list_sum = [10, 22, 19, 2, 9, 3]
print(sum(list_sum))

65

In [38]:
# 사용자 함수
def add(a,b,c):
    return a+b+c

add(1,2,3)

6

In [42]:
class SumMul:
    def sum(self, n1, n2):
        return n1 + n2
    def mul(self, n1, n2):
        return n1 * n2

obj1 = SumMul()
print(obj1.sum(3,4))
print(obj1.mul(3,4))
obj2 = SumMul()
print(obj2.mul(4,5))

7
12
20

In [43]:
# split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split() #문자열을 공백 기준으로 나눠준다. 기본값이 공백
words

['나는', '오늘', '기분이', '좋아요']

In [54]:
# replace 함수
# split 함수 구분자 사용
text2='수박, 참외, 딸기, 포도, 바나나'
re_text2 = text2.replace(' ', '')
print(re_text2)
text2_li = re_text2.split(',')
print(text2_li)

수박,참외,딸기,포도,바나나
['수박', '참외', '딸기', '포도', '바나나']

In [44]:
# 복합 대입 연산자
num = 10
num += 15  # num = num + 15 와 같다.
print(num)

25

[과제5] 복합 대입 연산자를 이용해서 4칙연산을 수행하세요

In [48]:
# 소문자, 대문자 변환
word1 = 'ABC'
word2 = 'cde'
w1 = word1.lower()
w2 = word2.upper()

print(w1)
print(w2)

abc
CDE

#### 과제6 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문장을 단어 단위로 분리
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for 문 / if else문)
- 결과 출력

#### 이스케이프 문자
- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n 줄바꾸기, \t 탭,

In [49]:
print('나는 파이썬을 사랑합니다. \n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다. \t파이썬은 자바보다 훨씬 쉽습니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
나는 파이썬을 사랑합니다. 	파이썬은 자바보다 훨씬 쉽습니다.

In [52]:
print("Hello\tWorld!")  # 탭 간격 주기
print("Hello\nWorld!")  # 줄바꿈 하기
print("She said, \"Hi!\"")  # 큰따옴표를 문자열 내부에 넣기 
print('It\'s raining')  # 작은 따옴표를 문자열 내부에 넣기
print("Backslash: \\")  # 백슬래시 출력

Hello	World!
Hello
World!
She said, "Hi!"
It's raining
Backslash: \

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [12]:
print('%(num)d, %(float1)f, %(float2)0.1f, %(string)s' %{"num": 3, "float1": 3, "float2": 3, "string": 'hello'})

3, 3.000000, 3.0, hello

In [5]:
txt1 = '자바'; txt2 = '파이썬'
num1 = 5; num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)  # 문자열 포멧형식 쓸 때 % 표현하려면 %%로 2번 써야함.

나는 자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.

In [15]:
# str.format
print('We are the {} who say "{}!"'.format('knight', 'Ni'))

We are the knight who say "Ni!"

In [17]:
# 문자열 포멧
name = '홍길순'
age = 20
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길순입니다. 나이는 20입니다.

In [21]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638}
# 딕셔너리를 꺼내는 for문
for name, phone in table.items():
    print(f'{name:6} ==> {phone:10d}')  # 콜론 뒤의 숫자 ==> 해당 항이 차지할 자릿수

Tom    ==>       1234
Jack   ==>       4518
Eddie  ==>       9638

In [24]:
# 소수점 4자리까지만 표현
y = 3.42134234
f'{y:0.4f}'

'3.4213'

#### [과제1_1030] num1 = 12345을 아래와 같이 출력하세요.
12345
     12345
12.345679
          12.346

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [32]:
# 숫자 표현 예
a = 0b1111010
b = 0o172
c = 0x7A
print(a)
print(str(bin(122)))
print(b)
print(str(oct(122)))
print(c)
print(str(hex(122)))

122
0b1111010
122
0o172
122
0x7a

In [36]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 - 16 : A - F
a = 123
b = -123
c = 0
d = 1.23
e = 0o177
f = 0xabc
g = 0b101010
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [37]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [39]:
# 16진수를 10진수로 표현
f1 = 0xa
f2 = 0xb
f3 = 0xab
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171