In [ ]:
# 과제1_1102 : 실행 가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 실행한 결과값을 출력하세요.

In [ ]:
def cal_def(car_str):
    return eval(car_str)

print(cal_def('5+5'))

In [ ]:
# 과제2_1102 : enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요.

In [ ]:
import keyword

for i, word in enumerate(keyword.kwlist):
    if i == 10: break
    print(f'{i+1}번째 키워드는 {word}입니다.')

In [ ]:
# 과제3_1102 : 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)

In [ ]:
# 1
print('='*10+' 첫 번째 '+'='*10)
list = [0,1,2,3,4,5,6]
list.remove(2)
print(list)

# 2
print('='*10+' 두 번째 '+'='*10)
list = [0,1,2,3,4,5,6]
del list[2]
print(list)

# 3
print('='*10+' 세 번째 '+'='*10)
list = [0,1,2,3,4,5,6]
list.pop(2)
print(list)

In [ ]:
# 과제4_1102 :  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.

In [ ]:
list = [0,1,2,3,4,5,6]
while list:
    list.pop()
print(list)

In [ ]:
my_list = [0, 1, 2, 3, 4, 5, 6]
del my_list[:]
print(my_list)

In [ ]:
my_list = [0, 1, 2, 3, 4, 5, 6]
del my_list[:4]  # 뒷자리 4 쓸 경우 4 자신은 포함되지 않음.
print(my_list)

In [ ]:
# 과제5_1102 :  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [ ]:
sample5 = [1,2,3,4,5]
ans5_1 = list(map(lambda x: x*x, sample5))
print(ans5_1)
ans5_2 = list(filter(lambda x: x < 3, sample5))
print(ans5_2)

In [ ]:
# 과제6_1102  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
sample6 = [1,-3,2,0,-5,6]
# 내장 함수
ans6_1 = list(filter(lambda x: x > 0, sample6))
print(ans6_1)
# 사용자 함수
ans6_2 = [i for i in sample6 if i > 0]
print(ans6_2)

In [ ]:
# 과제7_1102 : 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
#1 
q1 = [1,2,3]
q2 = [4,5,6]
ans7_1 = list(zip(q1, q2))
print(ans7_1)

#2
q3 = [1,2,3]
q4 = [4,5,6]
q5 = [7,8,9]
ans7_2 = list(zip(q3,q4,q5))
print(ans7_2)

#3
q6 = ('abc','def')
ans7_3 = list(zip(q6[0],q6[1]))
print(ans7_3)

In [ ]:
# 과제8_1102 : 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [ ]:
def cal_average(*args):
    return sum(args) / len(args)

print(cal_average(1,2,3))

In [ ]:
import statistics

def cal_avg(*args):
    return statistics.mean(args)

print(cal_avg(1,2,3))

In [9]:
# 숫자 입력 받아서 평균 (콤마로 구분)
def cal_list_avg(avgList):
    y = avgList.split(',')
    x = [int(i) for i in y]
    return sum(x) / len(x)

ans = input('평균값을 구할 숫자(콤마로 구분하여 입력): ')
print(cal_list_avg(ans))

평균값을 구할 숫자(콤마로 구분하여 입력): 20,49,177
82.0

In [ ]:
# 과제9_1102 : 동일한 사용자 함수를 만들어서 1~100의 합과 200~300의 합을 구하세요
def all_sum(start, end):
    sum_list = range(start, end+1)
    return sum(sum_list)

print(all_sum(1,100))
print(all_sum(200,300))

In [8]:
# 과제10_1102 : url에서 쿼리문을 추출하여 출력하세요
# ? 뒤의 부분을 추출
url_text = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
sql_list = url_text[url_text.find('?')+1:].split('&')
print(sql_list)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [ ]:
# 과제11_1102 : 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
# 단 중간에 한칸씩 띄어주어야 함 ex)kim dong wan

In [7]:
ans11 = input('영어 이름을 적어주세요.\nex)kim dong wan\n>> ')
print(ans11.title())

영어 이름을 적어주세요.
ex)kim dong wan
>> joo yong kyu
Joo Yong Kyu

In [ ]:
# 과제12_1102 : 문자 코드값 구하기(ord)
문자를 1개 입력하세요: a
문자: a, 코드값: 97

In [6]:
while True:
    val = input('문자를 1개만 입력하세요: ')
    var_ord = ord(val)
    print('문자: %s, 코드값: %d' %(val, var_ord))
    if input('종료하시겠습니까(y/n)').lower() == 'y':
        break

문자를 1개만 입력하세요: a
문자: a, 코드값: 97
종료하시겠습니까(y/n)n
문자를 1개만 입력하세요: t
문자: t, 코드값: 116
종료하시겠습니까(y/n)y

In [ ]:
# 과제13_1102 : numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [5]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
num_dic = {}

for i in numbers:
    if i in num_dic.keys():
        num_dic[i] += 1
    else:
        num_dic[i] = 1
            
num_count = sorted(num_dic.items(), key = lambda x: x[0])

for i in num_count:
    print(f'숫자 {i[0]}은(는) {i[1]}회 쓰였습니다.')

숫자 2은(는) 2회 쓰였습니다.
숫자 3은(는) 4회 쓰였습니다.
숫자 4은(는) 2회 쓰였습니다.
숫자 5은(는) 2회 쓰였습니다.
숫자 6은(는) 2회 쓰였습니다.
숫자 7은(는) 2회 쓰였습니다.
숫자 8은(는) 2회 쓰였습니다.
숫자 9은(는) 2회 쓰였습니다.

In [ ]:
# 과제14_1102 :코딩을 한줄로 작성해서 동일한 결과를 출력하세요
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

In [4]:
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# 과제15_1102 : 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [3]:
import math
def cal_factorial(x):
    y = range(1, x+1)
    return math.prod(y)

print(cal_factorial(5))
print(cal_factorial(10))

120
3628800

In [ ]:
# 과제16_1102 : list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

In [2]:
a = [1,2,3,4,5]
all_float = lambda x: float(x)
print(list(map(all_float, a)))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
# 도전과제17_1102 : 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [1]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def cleaning(text):
    cleaned_text = ''.join([x for x in text if x.isalnum() or x.isspace()])
    return cleaned_text

f_list = [cleaning(i).strip().title() for i in states]

str_list = str(f_list).replace(',', ',\n')

print(str_list)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']